@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300&display=swap');

html,
body {
  padding: 0;
  margin: 0;
  font-family: 'Rubik', sans-serif;
  font-size: 25px;
  background-color: rgb(233, 230, 226);
  /* background-color: rgb(220, 220, 220); */
  color: rgb(255, 97, 179);
  line-height: 33px;
  /* background-image: url('../images/me.png');
  background-size: 260px;
  background-repeat: no-repeat;
  background-position: center right 70px; */
}

a {
  /* color: inherit; */
  color: black;
  text-decoration: none;
  /* margin-right: 10px; */
  border: 2px solid rgb(207, 252, 3);
  border-radius: 45px;
  padding: 5px;
}

a:hover {
  cursor: default;
  background-color: rgb(207, 252, 3);
  border: 2px solid black;
  color: black;
}

span {
  /* color: rgb(255, 0, 196); */
  /* background-color: rgb(207, 252, 3); */
  /* color: black; */
}

* {
  box-sizing: border-box;
}

div:hover {
  cursor: default;
}

::selection {
  background: rgb(207, 252, 3); /* WebKit/Blink Browsers */
}
::-moz-selection {
  background: rgb(207, 252, 3); /* Gecko Browsers */
}