@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300&display=swap');

html,
body {
  padding: 0;
  margin: 0;
  font-family: 'Rubik', sans-serif;
  font-size: 23px;
  /* background-color: rgb(180, 186, 191); */
  background-color: rgb(255, 230, 247);
  color: black;
  line-height: 33px;
}

a {
  /* color: inherit; */
  color: black;
  text-decoration: none;
  /* margin-right: 10px; */
  border: 1px solid black;
  border-radius: 45px;
  padding: 5px;
}

a:hover {
  cursor: default;
  background-color: rgb(207, 252, 3);
  /* border: 1px solid black; */
  color: black;
}

span {
  /* color: rgb(255, 0, 196); */
  /* background-color: rgb(207, 252, 3); */
  /* color: black; */
}

* {
  box-sizing: border-box;
}

div:hover {
  cursor: default;
}

::selection {
  background: rgb(207, 252, 3); /* WebKit/Blink Browsers */
}
::-moz-selection {
  background: rgb(207, 252, 3); /* Gecko Browsers */
}